@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap");

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(-5);
    }

    40% {
        transform: translateY(-5px);
    }

    60% {
        transform: translateY(-7px);
    }
}

.seta {
    background-image: url(../assets/icons/angulo-da-seta-para-cima.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    animation: bounce 2s infinite;
    cursor: pointer;
}

.seta:hover {
    transform: scale(1.2);
}

.span {
    color: var(--second-color);
}

:root {
    --primary-color: white;
    --second-color: #960018;
    --second-color-light: #bc4c46;
}

.body {
    font-family: "Kanit", Arial, Helvetica, sans-serif;
    color: var(--primary-color);
    margin: 0;
}

.background {
    background-image: url(../assets/img/Design\ sem\ nome.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    height: min-content;
}

.btn-cv {
    cursor: pointer;
    padding: 0.8em 1.4em;
    font-size: 1rem;
    font-family: "Kanit", Arial, Helvetica, sans-serif;
    font-weight: 500;
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(325deg,
            var(--second-color) 0%,
            var(--second-color-light) 55%,
            var(--second-color) 90%);
    border: none;
    border-radius: 0.2rem;
    color: var(--primary-color);
}

.btn-cv:hover {
    background-position: right top;
}

.btn-cv-second {
    margin: 1.5rem 0 0;
}

.content-wrapper-center {
    padding: 50px 40px 50px;
    max-width: 67.25rem;
    margin: auto;
    min-height: 90vh;
    position: relative;
}

.div-container {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header-menu li a:hover {
    color: rgb(175, 174, 174);
}

.header-menu li button a:hover {
    color: var(--primary-color);
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

.hero {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0.5rem;
    grid-auto-flow: dense;
    margin: 0;
}

.row>.sm-12 {
    grid-column: 1 / -1;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    position: absolute;
    right: 0;
    top: 100px;
    overflow: hidden;
    background-color: white;
    transition: max-height 0.3s;
    margin: 0;
    padding-right: 1rem;
    padding-left: 1rem;
}

.header-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.nav input[type="checkbox"]:checked+.header-menu {
    max-height: 200px;
}

.show-menu {
    overflow: visible;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 2rem 1rem;
    text-align: center;
    background-color: #222222;
    border-radius: 20px 0 0 20px;
    width: 50%;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.455);
}

.header-menu li a {
    padding: 1rem 3rem;
}

.header-menu li button.btn-cv a {
    padding: 0;
}

input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

.bar {
    display: block;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 24px;
}

.bar span {
    position: absolute;
    width: 27px;
    height: 5px;
    background: #f1faee;
    border-radius: 100px;
    display: inline-block;
    transition: 0.3s ease;
    left: 0;
}

.bar span.top {
    top: 0;
}

.bar span.middle {
    top: 10px;
}

.bar span.bottom {
    bottom: 0;
}

input[type]:checked~span.top {
    transform: rotate(45deg);
    transform-origin: top left;
    width: 28px;
    left: 3px;
}

input[type]:checked~span.bottom {
    transform: rotate(-45deg);
    transform-origin: top left;
    width: 28px;
    bottom: -1px;
    box-shadow: 0 0 10px #495057;
}

input[type]:checked~span.middle {
    transform: translateX(-15px);
    opacity: 0;
}

@media screen and (min-width: 60em) {
    body {
        text-align: left;
    }

    h1 {
        font-size: 3.625rem;
    }

    h2 {
        font-size: 2.875rem;
    }

    .header {
        align-items: center;
    }

    .header-menu {
        margin: 0;
    }

    .header-menu li {
        display: inline-block;
        margin-left: 1.75rem;
    }
}

.horizontal-line {
    border-bottom: 5px solid var(--second-color);
    display: none;
    width: 80px;
    margin: 0 10px;
    line-height: 2em;
    vertical-align: middle;
}

.hero-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

.hero-redes ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.hero-redes img {
    width: 2.3rem;
    height: 2.3rem;
    transition: transform 0.3s ease-in-out;
}

.hero-redes img:hover {
    transform: scale(1.2);
}

h1.hero_title {
    font-size: 4rem;
    margin: 1rem 0;
    font-weight: bold;
}

.header-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-bottom: 5px;
    gap: 15px;
}

.header-footer a:hover {
    color: rgb(175, 174, 174);
}

@media screen and (min-width: 800px) {
    h1.hero_title {
        font-size: 5rem;
    }

    .show-menu {
        display: block;
        width: 100%;
        min-height: auto;
        padding: 0;
        box-shadow: none;
    }

    .header-menu li a {
        padding: 0;
    }

    .row>.sm-12 {
        grid-column: 1 / -1;
        text-align: left;
    }

    .header-menu {
        position: static;
        max-height: initial;
        background-color: initial;
    }

    .row {
        margin: 3rem 0;
    }

    .bar {
        display: none;
        visibility: hidden;
    }

    .hero_title {
        font-size: 6.5rem;
    }

    .second-header h2 {
        font-size: 2.875rem;
    }

    .horizontal-line {
        display: inline-block;
    }

    .row>.lg-7 {
        grid-column: span 7;
    }

    .row>.lg-5 {
        grid-column: span 5;
    }

    .background {
        background-image: url(../assets/img/ce51cf02-98ab-47cb-a0c6-1af3b05fad5a.jpg);
    }

    .hero-redes {
        flex-direction: column;
        align-items: end;
        margin: 0;
    }

    .hero-redes ul {
        flex-direction: column;
        padding: 1rem;
    }

    .redes-footer ul {
        flex-direction: row;
    }

    .header-footer {
        display: flex;
        flex-direction: row;
    }
}

.name {
    margin: 0;
}

.name h2 {
    margin: 0;
}

h1 {
    font-size: 3rem;
    margin: 1rem 0;
    font-weight: bold;
}

h2.sub-title {
    font-size: 2.1rem;
    margin: 1rem 0;
    font-weight: bold;
}

h2 {
    font-size: 2.5rem;
    margin: 1rem 0;
    font-weight: bold;
}

h3 {
    font-size: 2rem;
    margin: 1.5rem 0;
    font-weight: 400;
}

p {
    font-size: 1.2rem;
    margin: 1rem 0;
    font-weight: 400;
}

a {
    font-size: 1.2rem;
    margin: 1rem 0;
    font-weight: 400;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0 0 0 10px;
    margin: 0;
}

li {
    display: inline-block;
    margin-right: 10px;
}

.footer {
    background-color: rgb(34, 34, 34);
    height: auto;
    text-align: center;
    padding: 40px 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.direitos {
    margin: 40px 0 10px;
}

.centro {
    padding: 50px 40px;
}

#about {
    display: flex;
    background-color: rgb(255, 255, 255);
    color: black;
    min-height: 100vh;
    max-height: min-content;
    padding-top: 0;
}

.imagem-wesley img {
    width: 375px;
    height: 450px;
    object-fit: cover;
    border-radius: 15px;
}

.imagem-wesley {
    transition: all 0.5s;
}

.imagem-wesley:hover {
    transform: translateY(-10px);
}

.left-about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 100px;
}

.left-about h2 {
    font-weight: normal;
    margin: 30px 0 0 0;
    text-align: center;
}

.left-about h1 {
    font-weight: normal;
    margin: 0;
    text-align: center;
}

.left-about p {
    font-weight: normal;
    text-align: center;
}

.right-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wave {
    background-color: #222222;
    display: block;
}

html {
    scroll-behavior: smooth;
}

.skills {
    height: min-content;
    background-color: #222222;
    padding-bottom: 30px;
    padding-top: 70px;
}

.skills-title {
    font-weight: normal;
    margin: 0;
    text-align: center;
}

.skill {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    width: 17vw;
    height: 220px;
    border-radius: 30px;
    background: #222222;
    box-shadow: 5px 5px 10px rgb(25, 25, 25), -5px -5px 10px rgb(60, 60, 60);
    position: relative;
    /* Adicionada a propriedade position */
    overflow: hidden;
    /* Para esconder partes da imagem que se estendem além da div */
    transition: all 0.3s;
}

.card:hover {
    box-shadow: 10px 10px 20px rgb(25, 25, 25), -10px -10px 20px rgb(60, 60, 60);
    transform: translateY(-10px);
}

.card img {
    width: 110px;
    height: 110px;
    position: absolute;
    /* Adicionada a propriedade position */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Centraliza a imagem */
    opacity: 1;
    transition: opacity 0.3s;
}

.card:hover img {
    opacity: 0;
}

.card p {
    opacity: 0;
    margin: 0;
    transition: opacity 0.3s;
}

.card:hover p {
    opacity: 1;
}

.card h2 {
    opacity: 0;
    margin: 0;
    font-weight: normal;
    transition: opacity 0.3s;
}

.card:hover h2 {
    opacity: 1;
}

#btnTopo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #121212;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

.svgIcon {
    width: 12px;
    transition-duration: 0.5s;
}

.svgIcon path {
    fill: white;
}

#btnTopo:hover .svgIcon {
    transform: scale(1.3);
}

html {
    scroll-behavior: smooth;
}

.projects {
    position: relative;
    color: black;
    text-align: center;
}

.projects::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Ajuste a opacidade conforme necessário */
}

.projects h1 {
    font-weight: normal;
    margin: 0;
}

.skills-text {
    text-align: center;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 900px) {
    #about {
        display: flex;
        flex-direction: column;
        padding: 50px 40px;
    }

    .left-about {
        padding: 0;
    }

    .left-about h2 {
        margin-top: 20px;
        font-size: 32px;
    }

    .left-about h1 {
        font-size: 33.6px;
        font-weight: bold;
    }

    .skills-text {
        width: 100%;
        margin: 0;
    }

    .skill {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
    }

    .skill .card {
        width: 85%;
    }
}

@media screen and (max-width: 470px) {
    .imagem-wesley img {
        width: 270px;
        height: 350px;
    }
}

.skill {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
}

.skill .card {
    width: 85%;
    margin: 0 auto;
}

.skills-text {
    margin-bottom: 3rem;
}

@media screen and (max-width: 365px) {
    h1.hero_title {
        font-size: 40px;
    }

    h1.skills-title {
        font-size: 40px;
    }
}

@media screen and (max-width: 320px) {
    .imagem-wesley img {
        width: 200px;
        height: 250px;
    }

    .skill .card {
        width: 70%;
        height: 300px;
    }

    .show-menu {
        padding: 2rem 1rem 2rem 2rem;
    }

    .content-wrapper-center {
        padding: 50px 30px;
    }

    .centro {
        padding: 50px 30px;
    }

    #about {
        padding: 50px 30px;
    }

    .footer {
        padding: 40px 30px;
    }
}

@media screen and (max-width: 1095px) {
    #about {
        display: flex;
        flex-direction: column;
    }

    .left-about {
        padding: 0;
    }

    .left-about p {
        max-width: 700px;
        width: 100%;
        margin: 10px auto 30px;
    }

    .left-about h1 {
        margin-top: 50px;
    }

    .left-about h2 {
        margin-top: 0;
    }
}