@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap");

.span {
    color: var(--second-color);
}



.div-container {
    display: grid;
    place-items: center;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(5px);
    }

    60% {
        transform: translateY(-5px);
    }
}

.seta {
    background-image: url(../assets/icons/angulo-da-seta-para-cima.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: none;
    animation: bounce 2s infinite;
    display: none;
}

.seta:hover {
    width: 38px;
    height: 38px;
}

:root {
    --primary-color: white;
    --second-color: rgb(194, 1, 1);
    --second-color-light: rgb(255, 91, 91);
}

body {
    font-family: "Kanit", Arial, Helvetica, sans-serif;
    color: var(--primary-color);
    margin: 0;
}

.background {
    background-image: url(../assets/img/ce51cf02-98ab-47cb-a0c6-1af3b05fad5a.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.btn-cv {
    cursor: pointer;
    padding: 0.8em 1.4em;
    font-size: 1rem;
    font-family: "Kanit", Arial, Helvetica, sans-serif;
    font-weight: 500;
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(325deg,
            var(--second-color) 0%,
            var(--second-color-light) 55%,
            var(--second-color) 90%);
    border: none;
    border-radius: 0.2rem;
    color: var(--primary-color);
}

.btn-cv:hover {
    background-position: right top;
}

.content-wrapper-center {
    padding: 2rem 1rem 2rem;
    max-width: 67.25rem;
    margin: auto;
    min-height: calc(100% - 64px);
}

.imagem {
    text-align: center;
}

.hero_title {
    margin-top: 0;
}

.header-menu {
    list-style-type: none;
    padding: 0;
    text-align: right;
    /* display: none; */
}

.header-menu li {
    padding: 0.25em 0;
}

.header-menu li a {
    text-align: center;
    padding: 1.75em 0;
    height: 16px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.header-menu li a:hover {
    color: rgb(175, 174, 174);
}

.header-menu li button a:hover {
    color: var(--primary-color);
}

.header a h2 {
    margin: 0;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

nav a {
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

.header {
    text-align: left;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 1em;
    background-color: var(--second-color);
    border-radius: 5px;
    color: var(--light);
}

.btn:hover,
.btn:focus {
    background-color: var(--primary-color-dark);
}

img {
    max-width: 100%;
}

.hide {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.hero {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0.5rem;
    grid-auto-flow: dense;
}

.row>.sm-12 {
    grid-column: 1 / -1;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    max-height: 0;
    overflow: hidden;
    background-color: white;
    transition: max-height 0.3s;
    margin: 0;
    padding-right: 1rem;
    padding-left: 1rem;
}

@media screen and (min-width: 60em) {
    .header-menu {
        position: static;
        max-height: initial;
        background-color: initial;
    }
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    max-height: 0;
    overflow: hidden;
    background-color: white;
    transition: max-height 0.3s;
    margin: 0;
    padding-right: 1rem;
    padding-left: 1rem;
}

.menu-btn:checked~.header-menu {
    max-height: 100vh;
}

.menu-btn:checked+.menu-icon .nav-icon {
    background-color: transparent;
}

.header-menu:focus-within {
    max-height: 100vh;
}

@media screen and (min-width: 60em) {
    .header-menu {
        position: static;
        max-height: initial;
        background-color: initial;
    }
}

.header nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu-icon {
    position: relative;
    cursor: pointer;
    height: 24px;
    /* user-select: none; */
}

.nav-icon {
    background-color: #333;
    display: inline-block;
    height: 2px;
    width: 24px;
    position: relative;
}

.nav-icon::after,
.nav-icon::before {
    content: "";
    background-color: #333;
    display: inline-block;
    height: 2px;
    width: 24px;
    position: absolute;
    transition: transform 0.2s;
}

.nav-icon::after {
    transform: translateY(8px);
}

.nav-icon::before {
    transform: translateY(-8px);
}

.menu-btn:checked+.menu-icon .nav-icon::before {
    transform: rotate(-45deg);
}

.menu-btn:checked+.menu-icon .nav-icon::after {
    transform: rotate(45deg);
}

.menu-btn:focus-visible+.menu-icon {
    outline: 2px solid black;
    outline-offset: 3px;
}

@media screen and (min-width: 60em) {
    body {
        text-align: left;
    }

    h1 {
        font-size: 3.625rem;
    }

    h2 {
        font-size: 2.875rem;
    }

    .header {
        align-items: center;
    }

    .menu-btn,
    .menu-icon {
        display: none;
    }

    .header-menu {
        /* display: block; */
        margin: 0;
    }

    .header-menu li {
        display: inline-block;
        margin-left: 1.75rem;
    }
}

.hero_title {
    font-size: 4rem;
    margin: 0;
}

.second-header h2 {
    margin: 0;
    font-size: 1.8rem;
}

@media screen and (min-width: 64em) {
    .hero_title {
        font-size: 6.5rem;
    }

    .seta{
        display: block;
    }

    .second-header h2 {
        font-size: 2.875rem;
    }

    .horizontal-line {
        border-bottom: 5px solid var(--second-color);
        display: inline-block;
        width: 80px;
        margin: 0 10px;
        line-height: 2em;
        vertical-align: middle;
    }

    .row>.lg-7 {
        grid-column: span 7;
    }

    .background {
        background-image: url(../assets/img/ce51cf02-98ab-47cb-a0c6-1af3b05fad5a.jpg);
    }
}