@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap");

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(-5);
    }

    40% {
        transform: translateY(-5px);
    }

    60% {
        transform: translateY(-7px);
    }
}

.seta {
    background-image: url(../assets/icons/angulo-da-seta-para-cima.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    animation: bounce 2s infinite;
    cursor: pointer;
}

.seta:hover {
    transform: scale(1.2);
}

.span {
    color: var(--second-color);
}

:root {
    --primary-color: white;
    --second-color: #c98860;
    --second-color-light: #9b6b43;
    --color-dark-light: #8e5431;
}

.body {
    font-family: "Kanit", Arial, Helvetica, sans-serif;
    color: var(--primary-color);
    margin: 0;
}

.background {
    background-image: url(../assets/img/ai-generated-8316335.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-color: #c98860;
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
}

.btn-cv {
    cursor: pointer;
    padding: 0.8em 1.4em;
    font-size: 1rem;
    font-family: "Kanit", Arial, Helvetica, sans-serif;
    transition: 0.5s;
    background-size: 280% auto;
    background-image: linear-gradient(325deg,
            var(--second-color) 0%,
            var(--second-color-light) 55%,
            var(--second-color) 90%);
    border: none;
    border-radius: 0.2rem;
}

.btn-cv:hover {
    background-position: right top;
}

.content-wrapper-center {
    padding: 50px 40px;
    position: relative;
}

.div-container {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.header-menu li a:hover {
    color: var(--second-color);
}

.header-menu li button a:hover {
    color: var(--primary-color);
}

a {
    color: var(--primary-color);
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.row>.sm-12 {
    grid-column: 1 / -1;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    position: absolute;
    right: 0;
    top: 100px;
    max-height: 0;
    overflow: hidden;
}

.show-menu {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 1rem 2rem 2rem;
    text-align: center;
    background-color: var(--color-dark-light);
    border-radius: 15px 0 0 15px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.1);
}

.header-menu li a {
    padding: 1rem 3rem;
}

.header-menu li button.btn-cv a {
    padding: 0;
}

input[type="checkbox"] {
    visibility: hidden;
}

label.bar {
    position: relative;
    cursor: pointer;
}

.bar span {
    position: absolute;
    width: 27px;
    height: 5px;
    background: white;
    border-radius: 100px;
    transition: 0.5s ease;
    left: 0;
}

.bar span.top {
    top: 0;
}

.bar span.middle {
    top: 10px;
}

.bar span.bottom {
    bottom: 0;
}

input[type]:checked~span.top {
    transform: rotate(45deg);
    transform-origin: top left;
    width: 28px;
    left: 3px;
}

input[type]:checked~span.bottom {
    transform: rotate(-45deg);
    transform-origin: top left;
    width: 28px;
    bottom: -1px;
    box-shadow: 0 0 10px black;
}

input[type]:checked~span.middle {
    opacity: 0;
}

@media screen and (min-width: 60em) {
    .header-menu li {
        margin-left: 1.75rem;
    }
}

.horizontal-line {
    border-bottom: 5px solid var(--second-color);
    display: none;
    width: 80px;
    margin: 0 10px;
    vertical-align: middle;
}

.hero-redes {
    display: flex;
    justify-content: center;
    margin: 3rem;
}

.hero-redes ul {
    display: flex;
    gap: 1.5rem;
}

.hero-redes img {
    width: 2.3rem;
    transition: transform 0.5s ease-in-out;
}

.hero-redes img:hover {
    transform: scale(1.2);
}

h1.hero_title {
    font-size: 4rem;
}

.header-footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    gap: 15px;
}

.header-footer a:hover {
    color: var(--second-color);
}

@media screen and (min-width: 800px) {
    h1.hero_title {
        font-size: 5rem;
    }

    .header-menu li a {
        padding: 0;
    }

    .row>.sm-12 {
        grid-column: 1 / -1;
        text-align: left;
    }

    .header-menu {
        position: static;
        max-height: initial;
    }

    .row {
        margin: 3rem 0;
    }

    .bar {
        display: none;
        visibility: hidden;
    }

    .horizontal-line {
        display: inline-block;
    }

    .row>.lg-7 {
        grid-column: span 7;
    }

    .row>.lg-5 {
        grid-column: span 5;
    }

    .hero-redes {
        flex-direction: column;
        align-items: end;
        margin: 0;
    }

    .hero-redes ul {
        flex-direction: column;
        padding: 12px;
    }

    .redes-footer ul {
        flex-direction: row;
    }

    .header-footer {
        display: flex;
        flex-direction: row;
    }

    div.content-wrapper-center {
        padding: 50px 100px;
    }
}

@media screen and (max-width: 800px) {
    section.centro#about {
        padding: 0 40px;
    }

    .header {
        padding-right: 8px;
    }
}

.name {
    margin: 0;
}

.name h2 {
    margin: 0;
}

h1 {
    font-size: 3rem;
    margin: 1rem 0;
}

h2.sub-title {
    font-size: 2.1rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
}

p {
    font-size: 1.2rem;
}

a {
    font-size: 1.2rem;
    text-decoration: none;
}

ul {
    padding: 0 0 0 10px;
    margin: 0;
}

li {
    display: inline-block;
    margin-right: 10px;
}

.footer {
    background-color: var(--color-dark-light);
    text-align: center;
    padding: 40px 40px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.direitos {
    margin: 40px 0 10px;
}

.centro {
    padding: 50px 40px;
}

#about {
    display: flex;
}

.imagem-wesley img {
    width: 375px;
    height: 450px;
    object-fit: cover;
    border-radius: 15px;
}

.imagem-wesley {
    transition: all 0.5s;
}

.imagem-wesley:hover {
    transform: translateY(-10px);
}

.left-about {
    padding-right: 100px;
}

.left-about h1 {
    font-weight: normal;
}

.left-about h2 {
    font-weight: normal;
    margin: 0;
}

.right-about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skills {
    background-color: var(--color-dark-light);
}

.skills-title {
    font-weight: normal;
    text-align: center;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    height: 220px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px #56341f, -5px -5px 10px #936243;
    position: relative;
    transition: all 0.5s;
}

.card:hover {
    box-shadow: 10px 10px 20px #56341f, -10px -10px 20px #936243;
    transform: translateY(-10px);
}

.card img {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s;
}

.card:hover img {
    opacity: 0;
}

.card p {
    opacity: 0;
    margin: 0;
    transition: opacity 0.5s;
}

.card:hover p {
    opacity: 1;
}

.card h2 {
    opacity: 0;
    margin: 0;
    font-weight: normal;
    transition: opacity 0.5s;
}

.card:hover h2 {
    opacity: 1;
}

#btnTopo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #442918;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

.svgIcon {
    width: 12px;
    transition-duration: 0.5s;
}

.svgIcon path {
    fill: white;
}

#btnTopo:hover .svgIcon {
    transform: scale(1.2);
}

html {
    scroll-behavior: smooth;
}

.skills-text {
    text-align: center;
    width: 750px;
    margin: 0 auto;
}

@media screen and (max-width: 900px) {
    .left-about h2 {
        font-size: 32px;
    }

    .left-about h1 {
        font-size: 40px;
    }

    .about-top-title {
        font-size: 50px;
    }

    .skills-text {
        width: 100%;
    }
}

@media screen and (max-width: 470px) {
    .imagem-wesley img {
        width: 270px;
        height: 350px;
    }

    .about-top-title {
        font-size: 40px;
    }
}

.skill {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

.skills-text {
    margin-bottom: 3rem;
}

@media screen and (max-width: 365px) {
    h1.hero_title {
        font-size: 40px;
    }

    h1.skills-title {
        font-size: 40px;
    }
}

@media screen and (max-width: 320px) {
    .imagem-wesley img {
        width: 200px;
        height: 250px;
    }

    .skill .card {
        width: 71%;
        height: 300px;
    }

    footer.footer {
        padding: 40px 30px;
    }

    section.skills.centro {
        padding: 50px 30px;
    }

    section#about.centro {
        padding: 0 30px;
    }
}

@media screen and (max-width: 1095px) {
    #about {
        flex-direction: column;
    }

    .left-about {
        padding: 0;
    }

    .left-about p {
        max-width: 700px;
        margin: 10px auto 30px;
        text-align: center;
    }

    .left-about h1 {
        margin: 0;
        text-align: center;
    }

    .left-about h2 {
        text-align: center;
    }

    span.about-style {
        margin: 0;
    }

    div.content-wrapper-center {
        padding: 50px 40px;
    }
}

.about-top {
    text-align: center;
    padding-top: 30px;
}

.about-top h1 {
    font-weight: normal;
    margin: 0;
}

.about-style {
    border-bottom: 40px solid var(--color-dark-light);
    display: inline-block;
    width: 4px;
    margin-bottom: 10px;
}

.main {
    background-color: var(--second-color);
}

#about.centro {
    padding: 0px 100px;
}

.left-about-me {
    color: var(--color-dark-light);
}

.style {
    display: flex;
    justify-content: center;
}

.second-about-style {
    border-bottom: 40px solid var(--color-dark-light);
    display: inline-block;
    width: 4px;
    margin: 20px 0 50px;
}

@media screen and (max-width: 320px) {
    div.content-wrapper-center {
        padding: 50px 30px;
    }
}